body {
    background: #111111;
    font-family: Helvetica;
}

#content {
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
    background: black;
    color: white;
}

/* nav stuff */
#titlebar {
    height: 30px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #222222;
}

#title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    margin-bottom: 10px;
}

#settings_buttons_menu_toggle {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    opacity: 0.25;
}

#fb_logout {
    float: right;
    margin-right: 2px;
    opacity: 0.05;
    padding-top: 1px;
}

.top_nav {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 13px;
    padding-right: 13px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #222222;
    background: #111111;
}

.show_hide {
    display: none;
}

.show_hide {
    display: none;
}

.clear {
    clear:both;
}

.top_nav ul{
    list-style: none;
}

.settings_buttons {
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.settings_buttons a{
    display: block;
    width: 84px;
    margin-left: 20px;
    margin-right: 20px;	
}
/* end nav stuff */

#all-friends-box {
    margin-right: 360px;
} 

.rounded-corners {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#matches-box {
    float: right;
    width: 340px;
    height: 600px;
} 

.friend-box {
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    margin-right: 20px;
}

.friend-box img {
    float: left;
}

.friend-name {
    font-weight: bold;
}

.friend-info {
    position: relative;
    top: -5px;
    left: 5px;
}

.a-match {
    height: 50px;
    margin: 4px;
}